main {
    min-height: 65vh;
}

.btn, .paginate_button {
    color: white;
    border-color: #412728;
    background: linear-gradient(45deg,#b87c4c, #F2E7BF);

}
.paginate_button:hover {
    background: linear-gradient(45deg,#b87c4c, #F2E7BF)!important;
}
.btn2, .paginate_button.current {
    background: linear-gradient(45deg, #412728,#b87c4c)!important;
}

.form {
    background-color: #faf5e0;
    border: 1px solid #412728;
    padding: 0.8rem;
}

td {
    background-color: #faf5e0 !important;
    border-top: 1px solid #412728;
    border-bottom: 1px solid #412728;
    border-right: 1px solid #412728;
}
input, select {
    background-color: white !important;
}

h5 {
    background: linear-gradient(90deg,#b87c4c, #F2E7BF);
}

.text-end {
    border-top: 1px dotted #412728;
}
#book {
    border-left: 1px solid #412728;
}

.cover {
    height: 150px;
}