h1 {
    margin: 0rem;
}

header {
    height: 15vh;
}

img {
    width: 120px;
    height: 150px;
}

footer {
    height: 8vh;
}
*{
    font-family: 'Quintessential', cursive;
    color:#412728;
}
body{
    background-color:#F2E7BF ;
}
.btn {
    color: white;
    background-color: #b87c4c;
    border-color: #412728;
}

input {
    background-color: white;
}

main {
    min-height: 65vh;
}

.btn2 {
    background-color:#412728;
}