table {
    border: 1px solid #412728;
    background-color: #faf5e0!important;
}
.bg-title {
    background: linear-gradient(90deg,#b87c4c, #F2E7BF);
    border-bottom: 1px solid #412728;
}

#table {
    max-height: 40vh;
    overflow: auto;
}

