{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1 class='text-center my-5'>Liste des utilisateurs!🎈😎</h1>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            {% if user.getRoles is same as(["ROLE_USER"]) %}
            <td>{{ user.getFirstname() }}</td>
            <td>{{ user.getLastname() }}</td>
            <td><a href="{{ path('user_infos', {'id': user.getId()} )}}" class='btn btn-success'>Plus d'infos</a></td>
            {% endif %}
        </tr> 
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
