{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="\Bibliotheque\public\css\listingBook.css">
{% endblock %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1 class='text-center mt-5 text-decoration-underline'>Liste des utilisateurs</h1>

    <a class="btn my-5" href="{{ path('user_add') }}">Ajouter un utilisateur</a>

    <table class="table bg-light text-center mb-5">
        <thead class="thead-dark">
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            {% if user.getRoles is same as(["ROLE_USER"]) %}
            <td>{{ user.getFirstname() }}</td>
            <td>{{ user.getLastname() }}</td>
            <td><a href="{{ path('user_infos', {'id': user.getId()} )}}" class='btn'>Plus d'infos</a></td>
            {% endif %}
        </tr> 
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
